.swop-button-primary {
  background-color: #4166A9;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.swop-button-primary:hover {
  background-color: #35528a; /* Slightly darker on hover */
}

/* .p-datatable{
max-width:100vw;
} */
